@font-face{
    font-family: "Mon";
    font-weight: 400;
    src: url(../fonts/Manrope-Regular.woff) format("woff");
}

@font-face{
    font-family: "Mon";
    font-weight: 500;
    src: url(../fonts/Manrope-Medium.woff) format("woff");
}

@font-face{
    font-family: "Mon";
    font-weight: 600;
    src: url(../fonts/Manrope-SemiBold.woff) format("woff");
}

