.experience__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 270px;
}

.experience__head-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience__head-title{
    text-transform: uppercase;
    @include font-style("Mon", 600, 38px, 52px, #1A1A1A);
}

.experience__head-subtitle{
    max-width: 975px;
    @include font-style("Mon", 400, 16px, 24px, #656567);
}

.experience__card-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    background: #F7F7F8;
    border: 1px solid #F1F1F3;
    border-radius: 12px;
    padding: 16px 16px;
    margin-top: 60px;

}

.experience__card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #ffffff;
    border: 1px solid #F1F1F3;
    border-radius: 12px;
    padding: 30px 30px;

        small{
            @include font-style("Mon", 400, 14px, 21px, #656567);

        } 
}

.experience__card-title{
    display: flex;
    align-items: center;
    gap: 10px;

        strong{
            @include font-style("Mon", 600, 18px, 27px, #1A1A1A);
        }
}

.experience__head-pretitle{
    @include font-style("Mon", 600, 14px, 19px, #98989A);
    display: none;

}

@media screen and (max-width: 1260px){
    .experience__head{
        padding-left: 10px;
    }
}

@media screen and (max-width: 1023px){
    .experience__card-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 767px){
    .experience__card-wrapper{
        grid-template-columns: 1fr;
    }
    .experience__head-pretitle{
        display: block;
    }
}